@charset "utf-8";
code {font-size:12px; padding:2px 4px; color:#d14; white-space:nowrap; background-color:#f7f7f9; border:1px solid #e1e1e8; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
.page {padding-top:20px; width:1200px; margin:0 auto;}
.page_pr {position:relative;}
.pleft {position:fixed; top:20px; width:250px; overflow-x:hidden; overflow-y:auto;}
.pleft_no {position:absolute;}
.pleft ul {border:1px solid #e5e5e5; border-radius:5px; overflow:hidden;}
.pleft ul li {border-bottom:1px solid #e5e5e5; height:48px; line-height:48px; text-indent:15px; color:#222; font-size:14px;}
.pleft ul li:last-child {border-bottom:0;}
.pleft ul li a {display:block; width:100%; color:#08c; position:relative;}
.pleft ul li a:hover {color:#08c; background:#f5f5f5;}
.pleft ul li a:after {content:""; font-family:sans-serif; display:block; position:absolute; top:50%; margin-top:-3px; right:12px; width:6px; height:6px; font-size:18px; background:#e0e0e0; border-radius:50%;}
.pleft ul li.on a {color:#fff; background:#08c;}
.pleft ul li.on a:after {background:#fff;}
.pleft ul li.son {text-indent:40px; font-size:12px;}
.pright {margin-left:280px;}
.page_tit {font-size:38px; padding-bottom:20px; color:#5a5a5a;}
.page_tit2 {font-size:24px; padding-bottom:16px; color:#5a5a5a;}
.page_tit span, .page_tit2 span {font-size:15px; color:#08c;}
.page_tit3 {font-size:14px; padding-bottom:18px; line-height:20px;}
.page_tit4 {padding-bottom:18px;}
.page_tit4:last-child {padding-bottom:0;}
.page_tit3 span {color:#08c;}
.ptable {width:100%; font-size:14px;}
.ptable tr > td {border:1px solid #ddd; padding:14px 6px;}
.ptable tr.first {font-weight:bold;}
.ptable tr:nth-child(even) {background:#f9f9f9;}
.ptable span.red {color:#d14;}
.maindiv {border-bottom:1px solid #ddd; padding-bottom:60px; margin-bottom:40px;}
.pre {background:#f7f7f9; border:1px solid #e1e1e8; padding:15px 8px; position:relative; border-radius:0 0 5px 5px;}
.pre.on {background:#1b2426;}
.pre ol {margin-left:28px; line-height:22px; position:relative; z-index:2;}
.pre ol li {padding-left:15px; color:#bebec5; font-size:14px;}
.pre.on ol li {color:#fff;}
.pre ol li span {color:teal;}
.pre ol li span span {color:#d14;}
.pre.on ol li span {color:#fff;}
.pre.on ol li span span {color:#fe4d79;}
.pre ol li.level2 {padding-left:30px;}
.pre ol li.level3 {padding-left:45px;}
.pre ol li.level4 {padding-left:60px;}
.pre ol li.level5 {padding-left:75px;}
.pre ol li.level6 {padding-left:90px;}
.pre ol li.level7 {padding-left:105px;}
.pre ol li.level8 {padding-left:120px;}
.pre ol li.level9 {padding-left:135px;}
.pre ol li.level10 {padding-left:150px;}
.pre:after {content:""; display:block; width:40px; height:100%; position:absolute; top:0; left:0; background:#fff; border-right:1px solid #ececf0; z-index:1; border-radius:0 0 0 5px;}
.pre.on:after {background:#242e30; border-color:#435a5f;}
.preicon {height:19px; margin-left:42px; margin-top:15px;}
.preicon span {display:inline-block; width:18px; height:19px; display:inline-block; vertical-align:top; -webkit-box-sizing:border-box; box-sizing:border-box; cursor:pointer; margin-right:15px;}
.precopy1 {border:1px solid #ccc; background-color:#fff; position:relative; border-radius:3px; box-shadow:2px 1px 1px rgba(0,0,0,0.1);}
.precopy1:before, .precopy1:after {content:""; display:block; height:1px; background:#ccc; position:absolute; left:3px;}
.precopy1:before {top:6px; width:10px;}
.precopy1:after {top:11px; width:10px;}
.precopy2 {border:1px solid #ccc; background-color:#fff; position:relative; border-radius:3px; box-shadow:2px 1px 1px rgba(0,0,0,0.1);}
.precopy2:before, .precopy2:after {content:""; display:block; height:1px; background:#ccc; position:absolute; left:3px;}
.precopy2:before {top:4px; width:10px;}
.precopy2:after {top:8px; width:7px; border-bottom:1px solid #ccc; background-clip:content-box; padding-bottom:3px; padding-right:3px;}
.pretype {border-radius:50%; background-color:#c2c2c2; position:relative; box-shadow:2px 1px 1px rgba(0,0,0,0.1);}
.pre.on .pretype {background-color:#fff;}
.pretype:after {content:""; display:block; width:12px; height:12px; position:absolute; top:-1px; right:-1px; background-color:#f7f7f9; border-radius:50%;}
.pre.on .pretype:after {background-color:#1b2426;}
.precode {display:none; margin-left:42px; min-height:100px; margin-right:2px;}
.precode .xtext {height:100%; font-size:14px;}
.example {border:1px solid #ddd; border-bottom:0; border-radius:5px 5px 0 0; padding:38px 28px 18px; position:relative;}
.example:before {content:"Example"; display:inline-block; height:24px; line-height:24px; color:#9da0b5; font-size:12px; position:absolute; top:0; left:0; background:#f5f5f5; padding:0 8px; border-right:1px solid #ddd; border-bottom:1px solid #ddd; border-radius:5px 0 5px 0;}
.table_row {padding-bottom:40px;}
.inline {display:inline-block; vertical-align:middle; height:20px; line-height:20px;}
.para {padding-top:15px; overflow-y:hidden; overflow-x:auto;}
.parain {min-width:640px;}
.para span {color:#08c;}
.litit {color:#08c;}
.myclass {padding:15px; font-size:14px;}

.loginbox {padding:15px; font-size:14px;}
.loginbox div {padding-bottom:10px;}

.xtiper_icon_myicon {background-image:url("img.png");}

.page_con {color:#5a5a5a; font-size:14px; line-height:24px;}

.hide_ful {display:none;}
.app_width {width:100%; margin:0 auto;}

.top {background-color:#08c; position:fixed; top:0; z-index:10;}
.top_zw {width:100%; overflow:hidden;}
.top_height {height:56px;}
.top_cen {line-height:56px; color:#fff; text-align:center; font-size:15px;}
.top_btn {width:56px; position:absolute; top:0;}
.top_btn.ll {left:0;}
.top_btn.lr {right:0;}
.top_btn button {border:0; width:100%; height:56px; position:relative; background-color:rgba(0,0,0,0.1);}
.top_btn.ll span {width:30px; height:2px; position:absolute; left:13px; display:block; background-color:#fff;}
.top_btn.ll span:nth-child(1) {top:18px;}
.top_btn.ll span:nth-child(2) {top:27px;}
.top_btn.ll span:nth-child(3) {top:36px;}
.top_btn.lr span {height:2px; position:absolute; top:26px; display:block; background-color:#fff;}
.top_btn.lr span:nth-child(1) {width:20px; left:11px; transform:rotate(-45deg);}
.top_btn.lr span:nth-child(2) {width:20px; left:25px; transform:rotate(45deg);}

.para_app {display:none;}

@media (max-width: 1200px) {
	body, html {width:640px; margin:0 auto;}
	.show_1200 {display:block;}
	.hide_1200 {display:none;}
	.app_width {width:640px;}

	.page {width:auto;}
	.pright {margin-left:0;}

	.pre:before {content:"代码在 pc 端查看"; display:block; transform:translateX(48px); font-size:14px;}
	.pre ol, .preicon {display:none;}

	.maindiv {padding-bottom:30px; margin-bottom:20px;}

	.page_tit {font-size:28px;}

	.pleft {background-color:#08c; top:0; left:0; width:215px; height:100%; z-index:100; overflow-x:hidden; overflow-y:auto; transform:translateX(-100%); /*transition-duration:0.2s;*/ transition-timing-function:ease-out; transition-property:transform;}
	.pleft.on {transform:translateX(0);}
	.pleft_zw {width:100%; height:100%; position:fixed; top:0; background-color:rgba(0,0,0,0.2); z-index:99; display:none; cursor:pointer;}
	.pleft_zw.on {display:block;}
	.pleft ul {border-radius:0; border:0;}
	.pleft ul li {border-bottom:1px solid rgba(255,255,255,0.2);}
	.pleft ul li a:after {display:none;}
	.pleft ul li a, .pleft ul li a:hover, .pleft ul li.on a {color:#fff; background:none;}

	.para {display:none;}
	.para_app {display:block; background-color:#f0f0f0; font-size:14px; text-align:center; padding:10px 0; margin-top:10px; color:#000; font-weight:bold; cursor:pointer;}

	.hide_app {width:0; height:0 !important; overflow:hidden;}
}

@media (max-width: 640px) {
	body, html {width:100%;}
	.app_width {width:100%;}

	.page_pr {margin:0 15px;}
}